body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px;
    cursor: pointer;
}

li {
    margin: 10px 0;
    list-style: none;
    background: lightblue;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}