body {
    font-family: Arial;
    text-align: center;
    margin-top: 40px;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

button {
    padding: 10px 15px;
    margin: 10px;
}

.dark {
    background: black;
    color: white;
}